<div id="notes-modal-block">
    {{#each notes}}
    <div>{{this._id}}:  {{this.title}}: {{this.body}}</div><button data-id="{{this._id}}" class="delete" value="Delete It!"></button>
    {{/each}}
</div>
