<div class="header"><h2>Swift Scraper</h2><a href="/home">Home</a><a href="/api/saved">Saved Articles</a></div>
<div class="side">
    <h1>&nbsp;&nbsp;Articles Scraped. Go to<a href="/home">Homepage</a></h1>
</div>
    
         


    