body,html {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* height: 100%; */
}

.sidebyside {
    /* display: flex; */
    /* justify-content: left; */
}

.swiftarticle {
    background-color: white;
    margin: 20px;
    text-align: left;
    /* display: flex; */
    /* justify-content: left; */
}

.title {
    background-color: lightskyblue;
    padding: 20px;
}

.summary {
    padding: 20px;
}

a {
    padding: 20px;
}

.header {
    background-color: lightskyblue;
    padding: 20px;
    /* flex-direction: row; */
    text-align: left;
}

.text {
    padding: 20px;
}

.button, .deletebutton {
    padding: 10px;
}

.side {
    display: flex;
    justify-content: left;
    background-color: white;
    margin: 20px;
}